$color: #fff;

.AddTaskButton {
    text-align: center;
    width: 100%;

    &__link {
        display: inline-block;
    }

    &__plus {
        background: $color;
        border-radius: 32px;
        box-shadow: 0 0 8px rgba($color: #000000, $alpha: 0.24);
        outline: none;
        height: 64px;
        width: 64px;

        &:active {
            box-shadow: inset 0 0 8px rgba($color: #000000, $alpha: 0.24);
        height: 64px;
        }
    }

    &__icon {
        display: block;
        position: relative;
        height: 100%;
        width: 100%;
        
        &::before,
        &::after {
            background: #333;
            border-radius: 2.5px;
            content: '';
            display: inline-block;
            position: absolute;
            top: calc(50% - 2.5px);
            left: calc(50% - 16px);
            height: 5px;
            width: 32px;
        }

        &::after {
            transform: rotate(90deg);
        }
    }
}