.AddTodoButton {
  background: #4665ff;
  border: 3px solid #6b84ff;
  border-radius: 8px;
  color: #fff;
  font-size: 1.6rem;
  outline: none;
  position: absolute;
  bottom: 68px;
  left: 0;
  right: 0;
  margin: auto;
  height: 56px;
  width: 176px;

  &:disabled {
    opacity: 0.4;
  }
}
