$color: #fff;
$mainBule: #4665FF;
$subBule: #6B84FF;

.AddTaskButton {
    text-align: center;
    width: 100%;

    &__plus {
        background: $mainBule;
        border: 3px solid $subBule;
        border-radius: 8px;
        color: $color;
        font-size: 1.6rem;
        outline: none;
        height: 56px;
        width: 176px;
    }
}