$color: #fff;

.DoneListButton {
    background: transparent;
    outline: none;
    height: 44px;
    width: 44px;

    &__icon {
        display: block;
        position: relative;
        height: 100%;
        width: 100%;

        &::before,
        &::after {
            background: $color;
            border-radius: 2.5px;
            content: '';
            display: inline-block;
            position: absolute;
            left: 0;
            right: 0;
            margin: auto;
            height: 5px;
            width: 32px;
        }

        &::before {
            top: 12px;
        }

        &::after {
            bottom: 12px;
        }
    }
}