.DoneListButton {
    background: transparent;
    outline: none;
    position: relative;
    height: 44px;
    width: 44px;

    &::before,
    &::after {
        background: #fff;
        border-radius: 2.5px;
        content: '';
        position: absolute;
        left: 0;
        right: 0;
        margin: auto;
        height: 5px;
        width: 32px;
    }

    &::before {
        top: 12px;
    }

    &::after {
        bottom: 12px;
    }
}