$color: #fff;
$mainBule: #4665FF;
$subBule: #6B84FF;

.Main {
    position: relative;
    height: 100vh;

    &__bg {
        background: $mainBule;
        height: 230px;
    }

    &__inner {
        padding: 60px 24px 56px;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
    }
}