@import url('https://fonts.googleapis.com/css?family=Noto+Sans+JP:400,700,900&display=swap');

html {
    font-size: 62.5%;
}

body {
    font-family: 'Noto Sans JP', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

* {
    box-sizing: border-box;
    font-weight: 700;
}