
$color: #fff;
$mainBule: #4665FF;
$subBule: #6B84FF;

.Total {
    background: $color;
    border-radius: 8px;
    box-shadow: 0 0 8px rgba($color: #000000, $alpha: 0.24);
    margin-bottom: 84px;
    height: 124px;
    width: 100%;

    &__inner {
        display: flex;
        align-items: center;
        flex-direction: column;
        height: 100%;
        position: relative;
    }

    &__title {
        color: $mainBule;
        font-size: 1.6rem;
        position: absolute;
        top: 24px;
    }

    &__todo {
        display: flex;
        align-items: baseline;
        position: absolute;
        bottom: 8px;
    }

    &__number {
        font-size: 4rem;
        margin-right: 8px;
    }

    &__text {
        font-size: 1.4rem;
    }
}