.Welcome {
  background: #4665ff;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 24px;
  height: 100vh;

  &__inner {
    text-align: center;
  }

  &__logInButtonMargin {
    margin-bottom: 24px;
  }

  &__icon {
    margin-bottom: 96px;
    height: 80px;
    width: 80px;
  }

  &__concept {
    color: #fff;
    font-size: 2.4rem;
    line-height: 1.6;
    margin-bottom: 32px;
  }

  &__text {
    color: #fff;
    font-size: 1.4rem;
    margin: 48px 0;
  }
}
