.LogInInputBox {
    background: #4665ff;
    border: 5px solid #6B84ff;
    border-radius: 32px;
    caret-color: #fff;
    color: #fff;
    font-size: 1.4rem;
    outline: none;
    padding-left: 32px;
    line-height: 1.5;
    height: 64px;
    width: 100%;
    -webkit-appearance: none;

    &::placeholder {
        color: #6B84ff;
        font-size: 1.6rem;
    }
}