.LoginButton {
    background: #4665FF;
    border: 5px solid #6B84FF;
    border-radius: 32px;
    display: block;
    color: #fff;
    font-size: 1.6rem;
    outline: none;
    height: 64px;
    width: 240px;
}