.LogInButton {
  background: #4665ff;
  border: 5px solid #6b84ff;
  border-radius: 32px;
  display: block;
  color: #fff;
  font-size: 1.6rem;
  outline: none;
  height: 64px;
  width: 240px;
  margin: 0 auto;
}
