.Login {
    background: #4665FF;
    padding: 0 24px;
    height: 100vh;

    &__inner {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
    }

    &__form {
        width: 100%;
    }
}