.AddTodo {
    position: fixed;
    left: 0;
    z-index: 3;
    height: 100%;
    width: 100%;

    &__inner {
        background: #4665ff;
        display: flex;
        align-items: center;
        padding: 60px 24px 56px;
        position: relative;
        height: 100%;
        width: 100%;
    }
}